label{
    margin: auto;
    text-align: right;    
}

#del_yes{
    color : red;
    background-color: white;
    margin: auto;
    border: 1px solid red;
    border-radius: 10px;
    transition: 0.5s;
}

#del_yes:hover{
    color : white;
    background-color: red;
    
}

#del_no{
    color : green;
    background-color: white;
    margin: auto;
    border: 1px solid green;
    border-radius: 10px;
    transition: 0.5s;

}

#del_no:hover{
    color : white;
    background-color: green;
    
}

#form_info{
    margin: 1%;
    border: 1px solid cornflowerblue ;
}

svg{
    float: right;
    margin: 1%;
}   

.btns{
    float: right;
    overflow: auto;
    text-align: right;
}

#form_edit{
    display: none;
    margin: auto;
}
#form_block{
    margin: auto;
    padding: 3%;
}

#form_block label{
    font-size: 20px;
}


#pencil{
    color: green;
}

#trash{
    color: red;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }